<%= form_for(@phrase) do |f| %>
<h1 style="width: 50%; margin-left: 10%">Create Phrase</h1>
  <% if @phrase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phrase.errors.count, "error") %> prohibited this phrase from being saved </h2>
      <ul>
        <% @phrase.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="width: 50%; margin-left: 10%">
   <%= f.label :phrase %><br>
   <%= f.text_field :phrase, :class => 'form-control' %>
 </div>
 <div class="form-group" style="width: 50%; margin-left: 10%">
   <%= f.label :translation %><br>
   <%= f.text_field :translation, :class => 'form-control' %>
 </div>
 <br>
 <div class="actions" style="width: 50%; margin-left: 10%">
   <%= f.submit 'Submit', :class => 'btn btn-primary'%>
 </div>

<% end %>
